# Books
- Andrea Cohen
- 02.23.23

## Tasks:

1.  Design an ERD to represent a database that tracks users and their favorite books.
2.  Create the database in Python and test the database
3.  Export the database and commit it to GitHub

## ERD

![png](books_ERD.png)

## Database

### Create the database

In [1]:
#imports
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.engine import create_engine
from urllib.parse import quote_plus
from sqlalchemy_utils import create_database, database_exists

In [2]:
#create connection string
username = "root"
password = quote_plus("Jake2006!")
db_name = "books"
connection_str = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
#create the engine
engine = create_engine(connection_str)

In [4]:
#create a new database
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

In [5]:
#verify that the database was created
database_exists(connection_str)

True

    - The new database was created.

### Add tables to the database

In [6]:
#make a dataframe a table and add it to the database
users = pd.read_csv('Data/data-2.csv')
users.to_sql('users', engine, if_exists = 'replace')

3

In [7]:
books = pd.read_csv('Data/data-3.csv')
books.to_sql('books', engine, if_exists = 'replace')

6

In [8]:
authors = pd.read_csv('Data/data-4.csv')
authors.to_sql('authors', engine, if_exists = 'replace')

5

In [9]:
favorites = pd.read_csv('Data/data-5.csv')
favorites.to_sql('favorites', engine, if_exists = 'replace')

7

### Test the database

In [10]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

    - There are 4 tables in the database:
        - authors
        - books
        - favorites
        - users

List the titles of all of John Doe's favorite books.

In [12]:
query = """
SELECT books.title
FROM books
JOIN favorites 
ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id
    FROM users
    WHERE users.first_name = 'John' AND users.last_name = 'Doe')
"""
pd.read_sql(query, engine)

              title
0       The Shining
1                It
2  The Great Gatsby

## Export the database